/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.6;
    background-color: #7c6feb;
    color: #ac73ec;
    background-image: url('https://art.rtistiq.com/en-us/_next/image?url=https%3A%2F%2Fd28jbe41jq1wak.cloudfront.net%2FBlogsImages%2Fabstract_art_Compressed_638250928944386407.jpg&w=1920&q=75https://www.1st-art-gallery.com/cdn-cgi/image/format=webp,quality=85,width=840/media/magefan_blog/understanding-abstract-art.jpg');
    background-size: cover;
}

.header {
    background-color: hsl(290, 26%, 77%);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.hero {
    text-align: center;
    padding: 50px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

h1, h2 {
    margin-bottom: 10px;
}

section#intro {
    background-color: #92c6a7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

blockquote {
    font-style: italic;
    margin: 20px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-left: 4px solid #c9b6cf;
}